@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');  

@font-face {
    font-family: "Monotype Corsiva"; 
    src: url("//db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.eot"); 
    src: url("//db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.woff") format("woff"), url("//db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.svg#Monotype Corsiva") format("svg");
    }
  
    body {
    
    background: linear-gradient(146deg, black, rgb(22, 0, 0), black);
    }
  
  .rainbow {
      height: 65vh;
      width: 65vw;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10% auto;
      width: 450px;
      border-radius: 50rem;
      box-shadow: 0 .1rem .3rem 0 #6d6d6d;
  }
  
  h1 {
      display: inline-block;
      color: #fff;
      font-size: 4.0rem;
      transition: all 0.4s ease-in;
      font-family: 'Rubik Iso', sans-serif;
            animation: Color 30s infinite alternate forwards;
      -webkit-animation: Color 30s infinite alternate forwards;
  }
  
  @keyframes Color {
      5% {
          color: #fda870;
      }
      10% {
          color: #f829ff;
      }
      15% {
          color: #dafa5c;
      }
      20% {
          color: #11aca4;
      }
      25% {
          color: #4ce64c;
      }
      30% {
          color: #99ffc2;
      }
      35% {
          color: #53f0d0;
      }
      40% {
          color: #ff9d90;
      }
      45% {
          color: #ee68e7;
      }
      50% {
          color: #9999ff;
      }
      55% {
          color: #c299ff;
      }
      60% {
          color: #97f7fa;
      }
      65% {
          color: #ff9999;
      }
      70% {
          color: #ff8b48;
      }
      75% {
          color: #5c89d6;
      }
      80% {
          color: #5cd668;
      }
      85% {
          color: #5e5cd6;
      }
      90% {
          color: #d65c78;
      }
      95% {
          color: #c25cd6;
      }
      100% {
          color: #5cb6d6;
      }
  }
  
  @-moz-keyframes Color {
      5% {
          color: #fda870;
      }
      10% {
          color: #f829ff;
      }
      15% {
          color: #dafa5c;
      }
      20% {
          color: #11aca4;
      }
      25% {
          color: #4ce64c;
      }
      30% {
          color: #99ffc2;
      }
      35% {
          color: #53f0d0;
      }
      40% {
          color: #ff9d90;
      }
      45% {
          color: #ee68e7;
      }
      50% {
          color: #9999ff;
      }
      55% {
          color: #c299ff;
      }
      60% {
          color: #97f7fa;
      }
      65% {
          color: #ff9999;
      }
      70% {
          color: #ff8b48;
      }
      75% {
          color: #5c89d6;
      }
      80% {
          color: #5cd668;
      }
      85% {
          color: #5e5cd6;
      }
      90% {
          color: #d65c78;
      }
      95% {
          color: #c25cd6;
      }
      100% {
          color: #5cb6d6;
      }
  }
  
  @-webkit-keyframes Color {
      5% {
          color: #fda870;
      }
      10% {
          color: #f829ff;
      }
      15% {
          color: #dafa5c;
      }
      20% {
          color: #11aca4;
      }
      25% {
          color: #4ce64c;
      }
      30% {
          color: #99ffc2;
      }
      35% {
          color: #53f0d0;
      }
      40% {
          color: #ff9d90;
      }
      45% {
          color: #ee68e7;
      }
      50% {
          color: #9999ff;
      }
      55% {
          color: #c299ff;
      }
      60% {
          color: #97f7fa;
      }
      65% {
          color: #ff9999;
      }
      70% {
          color: #ff8b48;
      }
      75% {
          color: #5c89d6;
      }
      80% {
          color: #5cd668;
      }
      85% {
          color: #5e5cd6;
      }
      90% {
          color: #d65c78;
      }
      95% {
          color: #c25cd6;
      }
      100% {
          color: #5cb6d6;
      }
  }
  
  .txt h1:nth-of-type(1),
  .txt-hover:hover h1:nth-of-type(1) {
      -webkit-animation-delay: -19.8s;
      animation-delay: -19.8s;
  }
  
  .txt h1:nth-of-type(2),
  .txt-hover:hover h1:nth-of-type(2) {
      -webkit-animation-delay: -19.6s;
      animation-delay: -19.6s;
  }
  
  .txt h1:nth-of-type(3),
  .txt-hover:hover h1:nth-of-type(3) {
      -webkit-animation-delay: -19.4s;
      animation-delay: -19.4s;
  }
  
  .txt h1:nth-of-type(4),
  .txt-hover:hover h1:nth-of-type(4) {
      -webkit-animation-delay: -19.2s;
      animation-delay: -19.2s;
  }
  
  .txt h1:nth-of-type(5),
  .txt-hover:hover h1:nth-of-type(5) {
      -webkit-animation-delay: -19s;
      animation-delay: -19s;
  }
  
  .txt h1:nth-of-type(6),
  .txt-hover:hover h1:nth-of-type(6) {
      -webkit-animation-delay: -18.8s;
      animation-delay: -18.8s;
  }
  
  .txt h1:nth-of-type(7),
  .txt-hover:hover h1:nth-of-type(7) {
      -webkit-animation-delay: -18.6s;
      animation-delay: -18.6s;
  }
  
  .txt h1:nth-of-type(8),
  .txt-hover:hover h1:nth-of-type(8) {
      -webkit-animation-delay: -18.4s;
      animation-delay: -18.4s;
  }
  
  .txt h1:nth-of-type(9),
  .txt-hover:hover h1:nth-of-type(9) {
      -webkit-animation-delay: -18.2s;
      animation-delay: -18.2s;
  }
  
  .txt h1:nth-of-type(10),
  .txt-hover:hover h1:nth-of-type(10) {
      -webkit-animation-delay: -18s;
      animation-delay: -18s;
  }
  
  .txt h1:nth-of-type(11),
  .txt-hover:hover h1:nth-of-type(11) {
      -webkit-animation-delay: -17.8s;
      animation-delay: -17.8s;
  }
  
  .txt h1:nth-of-type(12),
  .txt-hover:hover h1:nth-of-type(12) {
      -webkit-animation-delay: -17.6s;
      animation-delay: -17.6s;
  }
  
  .txt h1:nth-of-type(13),
  .txt-hover:hover h1:nth-of-type(13) {
      -webkit-animation-delay: -17.4s;
      animation-delay: -17.4s;
  }
  
  .txt h1:nth-of-type(14),
  .txt-hover:hover h1:nth-of-type(14) {
      -webkit-animation-delay: -17.2s;
      animation-delay: -17.2s;
  }
  
  .txt h1:nth-of-type(15),
  .txt-hover:hover h1:nth-of-type(15) {
      -webkit-animation-delay: -17s;
      animation-delay: -17s;
  }
  
  .txt h1:nth-of-type(16),
  .txt-hover:hover h1:nth-of-type(16) {
      -webkit-animation-delay: -16.8s;
      animation-delay: -16.8s;
  }
  
  .txt h1:nth-of-type(17),
  .txt-hover:hover h1:nth-of-type(17) {
      -webkit-animation-delay: -16.6s;
      animation-delay: -16.6s;
  }
  
  .txt h1:nth-of-type(18),
  .txt-hover:hover h1:nth-of-type(18) {
      -webkit-animation-delay: -16.4s;
      animation-delay: -16.4s;
  }
  
  .txt h1:nth-of-type(19),
  .txt-hover:hover h1:nth-of-type(19) {
      -webkit-animation-delay: -16.2s;
      animation-delay: -16.2s;
  }
  
  .txt h1:nth-of-type(20),
  .txt-hover:hover h1:nth-of-type(20) {
      -webkit-animation-delay: -16s;
      animation-delay: -16s;
  }
  
  .txt h1:nth-of-type(21),
  .txt-hover:hover h1:nth-of-type(21) {
      -webkit-animation-delay: -15.8s;
      animation-delay: -15.8s;
  }
  
  .txt h1:nth-of-type(22),
  .txt-hover:hover h1:nth-of-type(22) {
      -webkit-animation-delay: -15.6s;
      animation-delay: -15.6s;
  }
  
  .txt h1:nth-of-type(23),
  .txt-hover:hover h1:nth-of-type(23) {
      -webkit-animation-delay: -15.4s;
      animation-delay: -15.4s;
  }
  
  .txt h1:nth-of-type(24),
  .txt-hover:hover h1:nth-of-type(24) {
      -webkit-animation-delay: -15.2s;
      animation-delay: -15.2s;
  }
  
  .txt h1:nth-of-type(25),
  .txt-hover:hover h1:nth-of-type(25) {
      -webkit-animation-delay: -15s;
      animation-delay: -15s;
  }
  
  .txt h1:nth-of-type(26),
  .txt-hover:hover h1:nth-of-type(26) {
      -webkit-animation-delay: -14.8s;
      animation-delay: -14.8s;
  }
  
  .txt h1:nth-of-type(27),
  .txt-hover:hover h1:nth-of-type(27) {
      -webkit-animation-delay: -14.6s;
      animation-delay: -14.6s;
  }
  
  .txt h1:nth-of-type(28),
  .txt-hover:hover h1:nth-of-type(28) {
      -webkit-animation-delay: -14.4s;
      animation-delay: -14.4s;
  }
  
  .txt h1:nth-of-type(29),
  .txt-hover:hover h1:nth-of-type(29) {
      -webkit-animation-delay: -14.2s;
      animation-delay: -14.2s;
  }
  
  .txt h1:nth-of-type(30),
  .txt-hover:hover h1:nth-of-type(30) {
      -webkit-animation-delay: -14s;
      animation-delay: -14s;
  }
  
  .txt h1:nth-of-type(31),
  .txt-hover:hover h1:nth-of-type(31) {
      -webkit-animation-delay: -13.8s;
      animation-delay: -13.8s;
  }
  
  .txt h1:nth-of-type(32),
  .txt-hover:hover h1:nth-of-type(32) {
      -webkit-animation-delay: -13.6s;
      animation-delay: -13.6s;
  }
  
  .txt h1:nth-of-type(33),
  .txt-hover:hover h1:nth-of-type(33) {
      -webkit-animation-delay: -13.4s;
      animation-delay: -13.4s;
  }
  
  .txt h1:nth-of-type(34),
  .txt-hover:hover h1:nth-of-type(34) {
      -webkit-animation-delay: -13.2s;
      animation-delay: -13.2s;
  }
  
  .txt h1:nth-of-type(35),
  .txt-hover:hover h1:nth-of-type(35) {
      -webkit-animation-delay: -13s;
      animation-delay: -13s;
  }
  
  .txt h1:nth-of-type(36),
  .txt-hover:hover h1:nth-of-type(36) {
      -webkit-animation-delay: -12.8s;
      animation-delay: -12.8s;
  }
  
  .txt h1:nth-of-type(37),
  .txt-hover:hover h1:nth-of-type(37) {
      -webkit-animation-delay: -12.6s;
      animation-delay: -12.6s;
  }
  
  .txt h1:nth-of-type(38),
  .txt-hover:hover h1:nth-of-type(38) {
      -webkit-animation-delay: -12.4s;
      animation-delay: -12.4s;
  }
  
  .txt h1:nth-of-type(39),
  .txt-hover:hover h1:nth-of-type(39) {
      -webkit-animation-delay: -12.2s;
      animation-delay: -12.2s;
  }
  
  .txt h1:nth-of-type(40),
  .txt-hover:hover h1:nth-of-type(40) {
      -webkit-animation-delay: -12s;
      animation-delay: -12s;
  }
  
  .txt h1:nth-of-type(41),
  .txt-hover:hover h1:nth-of-type(41) {
      -webkit-animation-delay: -11.8s;
      animation-delay: -11.8s;
  }
  
  .txt h1:nth-of-type(42),
  .txt-hover:hover h1:nth-of-type(42) {
      -webkit-animation-delay: -11.6s;
      animation-delay: -11.6s;
  }
  
  .txt h1:nth-of-type(43),
  .txt-hover:hover h1:nth-of-type(43) {
      -webkit-animation-delay: -11.4s;
      animation-delay: -11.4s;
  }
  
  .txt h1:nth-of-type(44),
  .txt-hover:hover h1:nth-of-type(44) {
      -webkit-animation-delay: -11.2s;
      animation-delay: -11.2s;
  }
  
  .txt h1:nth-of-type(45),
  .txt-hover:hover h1:nth-of-type(45) {
      -webkit-animation-delay: -11s;
      animation-delay: -11s;
  }
  
  .txt h1:nth-of-type(46),
  .txt-hover:hover h1:nth-of-type(46) {
      -webkit-animation-delay: -10.8s;
      animation-delay: -10.8s;
  }
  
  .txt h1:nth-of-type(47),
  .txt-hover:hover h1:nth-of-type(47) {
      -webkit-animation-delay: -10.6s;
      animation-delay: -10.6s;
  }
  
  .txt h1:nth-of-type(48),
  .txt-hover:hover h1:nth-of-type(48) {
      -webkit-animation-delay: -10.4s;
      animation-delay: -10.4s;
  }
  
  .txt h1:nth-of-type(49),
  .txt-hover:hover h1:nth-of-type(49) {
      -webkit-animation-delay: -10.2s;
      animation-delay: -10.2s;
  }
  
  .txt h1:nth-of-type(50),
  .txt-hover:hover h1:nth-of-type(50) {
      -webkit-animation-delay: -10s;
      animation-delay: -10s;
  }
  
  .txt h1:nth-of-type(51),
  .txt-hover:hover h1:nth-of-type(51) {
      -webkit-animation-delay: -9.8s;
      animation-delay: -9.8s;
  }
  
  .txt h1:nth-of-type(52),
  .txt-hover:hover h1:nth-of-type(52) {
      -webkit-animation-delay: -9.6s;
      animation-delay: -9.6s;
  }
  
  .txt h1:nth-of-type(53),
  .txt-hover:hover h1:nth-of-type(53) {
      -webkit-animation-delay: -9.4s;
      animation-delay: -9.4s;
  }
  
  .txt h1:nth-of-type(54),
  .txt-hover:hover h1:nth-of-type(54) {
      -webkit-animation-delay: -9.2s;
      animation-delay: -9.2s;
  }
  
  .txt h1:nth-of-type(55),
  .txt-hover:hover h1:nth-of-type(55) {
      -webkit-animation-delay: -9s;
      animation-delay: -9s;
  }
  
  .txt h1:nth-of-type(56),
  .txt-hover:hover h1:nth-of-type(56) {
      -webkit-animation-delay: -8.8s;
      animation-delay: -8.8s;
  }
  
  .txt h1:nth-of-type(57),
  .txt-hover:hover h1:nth-of-type(57) {
      -webkit-animation-delay: -8.6s;
      animation-delay: -8.6s;
  }
  
  .txt h1:nth-of-type(58),
  .txt-hover:hover h1:nth-of-type(58) {
      -webkit-animation-delay: -8.4s;
      animation-delay: -8.4s;
  }
  
  .txt h1:nth-of-type(59),
  .txt-hover:hover h1.txt-hover:hover h1:nth-of-type(59) {
      -webkit-animation-delay: -8.2s;
      animation-delay: -8.2s;
  }
  
  .txt h1:nth-of-type(60),
  .txt-hover:hover h1:nth-of-type(60) {
      -webkit-animation-delay: -8s;
      animation-delay: -8s;
  }
  
  .txt h1:nth-of-type(61),
  .txt-hover:hover h1:nth-of-type(61) {
      -webkit-animation-delay: -7.8s;
      animation-delay: -7.8s;
  }
  
  .txt h1p:nth-of-type(62),
  .txt-hover:hover h1:nth-of-type(62) {
      -webkit-animation-delay: -7.6s;
      animation-delay: -7.6s;
  }
  
  .txt h1:nth-of-type(63),
  .txt-hover:hover h1:nth-of-type(63) {
      -webkit-animation-delay: -7.4s;
      animation-delay: -7.4s;
  }
  
  .txt h1:nth-of-type(64),
  .txt-hover:hover h1:nth-of-type(64) {
      -webkit-animation-delay: -7.2s;
      animation-delay: -7.2s;
  }
  
  .txt h1:nth-of-type(65),
  .txt-hover:hover h1:nth-of-type(65) {
      -webkit-animation-delay: -7s;
      animation-delay: -7s;
  }
  
  .txt h1p:nth-of-type(66),
  .txt-hover:hover h1:nth-of-type(66) {
      -webkit-animation-delay: -6.8s;
      animation-delay: -6.8s;
  }
  
  .txt h1:nth-of-type(67),
  .txt-hover:hover h1:nth-of-type(67) {
      -webkit-animation-delay: -6.6s;
      animation-delay: -6.6s;
  }
  
  .txt h1:nth-of-type(68),
  .txt-hover:hover h1:nth-of-type(68) {
      -webkit-animation-delay: -6.4s;
      animation-delay: -6.4s;
  }
  
  .txt h1:nth-of-type(69),
  .txt-hover:hover h1:nth-of-type(69) {
      -webkit-animation-delay: -6.2s;
      animation-delay: -6.2s;
  }
  
  .txt h1:nth-of-type(70),
  .txt-hover:hover h1:nth-of-type(70) {
      -webkit-animation-delay: -6s;
      animation-delay: -6s;
  }
  
  .txt h1:nth-of-type(71),
  .txt-hover:hover h1:nth-of-type(71) {
      -webkit-animation-delay: -5.8s;
      animation-delay: -5.8s;
  }
  
  .txt h1:nth-of-type(72),
  .txt-hover:hover h1:nth-of-type(72) {
      -webkit-animation-delay: -5.6s;
      animation-delay: -5.6s;
  }
  
  .txt h1:nth-of-type(73),
  .txt-hover:hover h1:nth-of-type(73) {
      -webkit-animation-delay: -5.4s;
      animation-delay: -5.4s;
  }
  
  .txt h1:nth-of-type(74),
  .txt-hover:hover h1:nth-of-type(74) {
      -webkit-animation-delay: -5.2s;
      animation-delay: -5.2s;
  }
  
  .txt h1:nth-of-type(75),
  .txt-hover:hover h1:nth-of-type(75) {
      -webkit-animation-delay: -5s;
      animation-delay: -5s;
  }
  
  .txt h1:nth-of-type(76),
  .txt-hover:hover h1:nth-of-type(76) {
      -webkit-animation-delay: -4.8s;
      animation-delay: -4.8s;
  }
  
  .txt h1:nth-of-type(77),
  .txt-hover:hover h1:nth-of-type(77) {
      -webkit-animation-delay: -4.6s;
      animation-delay: -4.6s;
  }
  
  .txt h1:nth-of-type(78),
  .txt-hover:hover h1:nth-of-type(78) {
      -webkit-animation-delay: -4.4s;
      animation-delay: -4.4s;
  }
  
  .txt h1:nth-of-type(79),
  .txt-hover:hover h1:nth-of-type(79) {
      -webkit-animation-delay: -4.2s;
      animation-delay: -4.2s;
  }
  
  .txt h1:nth-of-type(80),
  .txt-hover:hover h1.txt-hover:hover h1:nth-of-type(80) {
      -webkit-animation-delay: -4s;
      animation-delay: -4s;
  }
  
  .txt h1:nth-of-type(81),
  .txt-hover:hover h1:nth-of-type(81) {
      -webkit-animation-delay: -3.8s;
      animation-delay: -3.8s;
  }
  
  .txt h1:nth-of-type(82),
  .txt-hover:hover h1:nth-of-type(82) {
      -webkit-animation-delay: -3.6s;
      animation-delay: -3.6s;
  }
  
  .txt h1:nth-of-type(83),
  .txt-hover:hover h1:nth-of-type(83) {
      -webkit-animation-delay: -3.4s;
      animation-delay: -3.4s;
  }
  
  .txt h1:nth-of-type(84),
  .txt-hover:hover h1:nth-of-type(84) {
      -webkit-animation-delay: -3.2s;
      animation-delay: -3.2s;
  }
  
  .txt h1:nth-of-type(85),
  .txt-hover:hover h1:nth-of-type(85) {
      -webkit-animation-delay: -3s;
      animation-delay: -3s;
  }
  
  .txt h1:nth-of-type(86),
  .txt-hover:hover h1:nth-of-type(86) {
      -webkit-animation-delay: -2.8s;
      animation-delay: -2.8s;
  }
  
  .txt h1:nth-of-type(87),
  .txt-hover:hover h1:nth-of-type(87) {
      -webkit-animation-delay: -2.6s;
      animation-delay: -2.6s;
  }
  
  .txt h1:nth-of-type(88),
  .txt-hover:hover h1:nth-of-type(88) {
      -webkit-animation-delay: -2.4s;
      animation-delay: -2.4s;
  }
  
  .txt h1:nth-of-type(89),
  .txt-hover:hover h1:nth-of-type(89) {
      -webkit-animation-delay: -2.2s;
      animation-delay: -2.2s;
  }
  
  .txt h1:nth-of-type(90),
  .txt-hover:hover h1:nth-of-type(90) {
      -webkit-animation-delay: -2s;
      animation-delay: -2s;
  }
  
  .txt h1:nth-of-type(91),
  .txt-hover:hover h1:nth-of-type(91) {
      -webkit-animation-delay: -1.8s;
      animation-delay: -1.8s;
  }
  
  .txt h1:nth-of-type(92),
  .txt-hover:hover h1:nth-of-type(92) {
      -webkit-animation-delay: 1.6s;
      animation-delay: 1.6s;
  }
  
  .txt h1:nth-of-type(93),
  .txt-hover:hover h1:nth-of-type(93) {
      -webkit-animation-delay: 1.4s;
      animation-delay: 1.4s;
  }
  
  .txt h1:nth-of-type(94),
  .txt-hover:hover h1:nth-of-type(94) {
      -webkit-animation-delay: 1.2s;
      animation-delay: 1.2s;
  }
  
  .txt h1:nth-of-type(95),
  .txt-hover:hover h1:nth-of-type(95) {
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
  }
  
  .txt h1:nth-of-type(96),
  .txt-hover:hover h1:nth-of-type(96) {
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
  }
  
  .txt h1p:nth-of-type(97),
  .txt-hover:hover h1:nth-of-type(97) {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
  }
  
  .txt h1:nth-of-type(98),
  .txt-hover:hover h1:nth-of-type(98) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
  }
  
  .txt h1:nth-of-type(99),
  .txt-hover:hover h1:nth-of-type(99) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
  }
  
  .txt h1:nth-of-type(100),
  .txt-hover:hover h1:nth-of-type(100) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
  }
  
  @media(max-width:768px) {
      .rainbow {
          width: 350px;
          margin-top:10rem;
      }
  }