@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Nuosu+SIL&family=Press+Start+2P&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Mr+Dafoe&family=Nuosu+SIL&family=Press+Start+2P&family=Rubik+Iso&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7)),
        url('./lenny.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.title1,
.title2,
.title3 {
    font-family: 'Rubik Iso', cursive;
    color: goldenrod;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 20px;
    background-color: rgba(139, 0, 0, 0.449);
    border: 5px solid rgba(0, 0, 0, 0.673);
    border-radius: 50%;
    padding: 15px 30px;
    margin-bottom: -16px;
    box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.5);
}

.title1 {
    animation-name: moveToLeft;
    animation-duration: 4s;
}

.title2 {
    animation-name: animateBtn;
    animation-duration: 4s;
    animation-delay: 1.0s;
    animation-fill-mode: backwards;
    padding: 8px 50px;
    font-style: normal;
    box-shadow: inset -8px -8px 15px 11px rgba(0, 0, 0, 0.5);
    
}

.title3 {
    animation-name: moveToRight;
    animation-duration: 4s;
}

.sN {
    margin-top: 15px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    font-weight: bolder;
    color: silver;
    background-color: darkgoldenrod;
    letter-spacing: 4px;
    padding: 8px 10px;
    border: 3px dotted darkred;
    border-radius: 50%;
    animation-name: animateBtn;
    animation-duration: 3s;
    animation-delay: 4.0s;
    animation-fill-mode: backwards;
}

.phrase {
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    font-family: 'Mr Dafoe', serif;
    box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.5);
    animation-name: animateBtn;
    animation-duration: 3s;
    animation-delay: 4.0s;
    animation-fill-mode: backwards;
}

@keyframes moveToLeft {
    0% {
        transform: translateX(420px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes moveToRight {
    0% {
        transform: translateX(-420px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
    
@keyframes animateBtn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}  
