@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Ewert&family=Faster+One&family=Fredericka+the+Great&family=Inspiration&family=Nabla&family=Petit+Formal+Script&family=Sancreek&family=Smokum&family=Stint+Ultra+Condensed&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredericka the Great', sans-serif;
    color: yellow;
    height: 100vh;
    background: url('./pexels-pixabay-73873.jpg') no-repeat center center/cover;
    overflow: hidden;
}

.container {
    position: relative;
    top: 30%;
    margin: auto;
    max-width: 700px;
    font-size: 3.4rem;
    text-align: center;
    
}

@media (min-width: 1024px) {
    .container {
        max-width: 1400px;
        font-size: 3.4rem;
    }
}
